* {
  box-sizing: border-box;
}
ul {
 list-style-type: none;
 padding: 0;
}
  
li {
margin: 10px;
padding: 8px;
border: 1px solid #ccc;
border-radius: 5px;
background-color: #f5f5f5;
}
body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}
